* {
    font-family: 'Inter', sans-serif;
}

.bggradient {
    background-image: linear-gradient(to bottom right,rgb(72, 72, 72), lightgrey);
}

.contentarea { 
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* The navigation bar */
#navbar {
    border: 1px black solid;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    left: 0; /* Position the navbar at the left of the page */
    width: 8%;
    height: 100%;
    font-weight: 210;
    display:flex;
    flex-flow: column nowrap;
    padding-left: 4px;
}

#navbar > .navtitle {
    font-size: 18;
    padding: 3%;
    font-style:italic;
}

.placeholder {
    text-align: center;
    width: 18%;
    font-weight: 700;
    transform: rotate(-.7deg);
}
